.sectionTitle {
  color: var(--clr-accent);
  position: relative;
  text-shadow: var(--bs);
}

.sectionTitle::after {
  content: '';
  display: block;
  width: 2em;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--clr-light);
  opacity: 0.25;
}

.aboutCard {
  max-width: 500px;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .aboutCard + .aboutCard {
    margin-left: 2em;
  }
}
